ul
  li= 'Books'
    ul
      li
        a(href='/new-book')= 'New Book'
      li
        a(href='/all-books')= 'List All'
      li
        a(href='/overdue-books')= 'List Overdue'
      li
        a(href='/checked-books')= 'List Checked Out'
  li= 'Patrons'
    ul
      li
        a(href='/new-patron')= 'New Patron'
      li
        a(href='/all-patrons')= 'List All'
  li= 'Loans'
    ul
      li
        a(href='/new-loan')= 'New Loan'
      li
        a(href='/all-loans')= 'List All'
      li
        a(href='/overdue-loans')= 'List Overdue'
      li
        a(href='/checked-loans')= 'List Checked Out'